bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.DreamEngine/.idea/workspace.xml
.vs
.vs/DreamEngine/FileContentIndex/6cdd9aaf-d37e-4691-9c5f-4ceefcb9ff35.vsidx
.vs/DreamEngine/FileContentIndex/read.lock
.vs/DreamEngine/v17/.suo
.vs/DreamEngine/v17/Browse.VC.db
.vs/DreamEngine/v17/ipch/AutoPCH/478dd5a7f31e2aff/DREAMENGINE.ipch
.vs
.vs
.idea
